{% form_theme form '@BCCCronManager/Form/fields.html.twig' %}

<div>
    <em class="span">
        {{ 'Keep in mind that cron user is %user% and its root directory is %root%.' | trans({'%user%': '<strong>'~wwwUser.name~'</strong>', '%root%': '<strong>'~wwwUser.dir~'</strong>'}, 'BCCCronManagerBundle') | raw }}
    </em>
</div>
<br/>

<div class="row">
    {{ form_errors(form.minute) }}
    {{ form_errors(form.hour) }}
    {{ form_errors(form.dayOfMonth) }}
    {{ form_errors(form.month) }}
    {{ form_errors(form.dayOfWeek) }}
</div>

<div class="row">
    <div class="col-1 {{ form.minute.vars.errors ? 'error' : ''}}">
        {{ form_widget(form.minute, {'attr':{
                'class': 'time-input form-control ',
                'data-original-title': 'Minute' | trans ({}, 'BCCCronManagerBundle')
            }})
        }}
    </div>
    <div class="col-1 {{ form.hour.vars.errors ? 'error' : ''}}">
        {{ form_widget(form.hour, {'attr':{
                'class': 'time-input form-control ',
                'data-original-title': 'Hour' | trans ({}, 'BCCCronManagerBundle')
            }})
        }}
    </div>
    <div class="col-1 {{ form.dayOfMonth.vars.errors ? 'error' : ''}}">
        {{ form_widget(form.dayOfMonth, {'attr':{
                'class': 'time-input form-control ',
                'data-original-title': 'Day Of Month' | trans ({}, 'BCCCronManagerBundle')
            }})
        }}
    </div>
    <div class="col-1 {{ form.month.vars.errors ? 'error' : ''}}">
        {{ form_widget(form.month, {'attr':{
                'class': 'time-input form-control ',
                'data-original-title': 'Month' | trans ({}, 'BCCCronManagerBundle')
            }})
        }}
    </div>
    <div class="col-1 {{ form.dayOfWeek.vars.errors ? 'error' : ''}}">
        {{ form_widget(form.dayOfWeek, {'attr':{
                'class': 'time-input form-control ',
                'data-original-title': 'Day Of Week' | trans ({}, 'BCCCronManagerBundle')
            }})
        }}
    </div>
    <div class="btn-group time-menu">
        <span class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ 'Presets' }}
            <span class="caret"></span>
        </span>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a class="time-preset dropdown-link" href="#" id="hourly">{{ 'Hourly' | trans({}, 'BCCCronManagerBundle') }}</a></li>
            <li class="dropdown-item"><a class="time-preset dropdown-link" href="#" id="daily">{{ 'Daily' | trans({}, 'BCCCronManagerBundle') }}</a></li>
            <li class="dropdown-item"><a class="time-preset dropdown-link" href="#" id="weekly">{{ 'Weekly' | trans({}, 'BCCCronManagerBundle') }}</a></li>
            <li class="dropdown-item"><a class="time-preset dropdown-link" href="#" id="monthly">{{ 'Monthly' | trans({}, 'BCCCronManagerBundle') }}</a></li>
            <li class="dropdown-item"><a class="time-preset dropdown-link" href="#" id="yearly">{{ 'Yearly' | trans({}, 'BCCCronManagerBundle') }}</a></li>
        </ul>
    </div>
</div>

<div class="command-input form-group {{ form.command.vars.errors ? 'error' : ''}}">
    {{ form_errors(form.command) }}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                  {{ 'Command' }}
            </span>
        </div>
        {{- form_widget(form.command, {'attr':{'class': 'form-control'}}) }}
        <div class="input-group-append">
            <button type="button" class="btn btn-default command-preset" id="symfony-command"
                    value="{{ '/usr/bin/php /{{var|home/ubuntu}}/www/{{EDITME}}/current/bin/console app:example --env=prod' }}"
                    data-original-title="{{ 'Symfony Command' | trans({}, 'BCCCronManagerBundle') }}">
                {{ 'Guide Fill' }}
            </button>
        </div>
    </div>
</div>

<div class="form-group {{ form.logFile.vars.errors ? 'error' : ''}}">
    {{ form_errors(form.logFile) }}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                  {{ 'Log file' }}
            </span>
        </div>
        {{- form_widget(form.logFile, {'attr':{'class': 'form-control'}}) }}
        <div class="input-group-append">
            <button type="button" class="btn btn-default log-preset pull-right"
                    value="{{ '/{{var|home/ubuntu}}/www/{{EDITME}}/shared/var/logs/example.log' }}"
                    data-original-title="{{ 'Symfony log directory' | trans({}, 'BCCCronManagerBundle') }}">
                {{ 'Guide Fill' }}
            </button>
        </div>
    </div>
</div>

<div class="form-group {{ form.errorFile.vars.errors ? 'error' : ''}}">
    {{ form_errors(form.errorFile) }}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                {{ 'Error file' }}
            </span>
        </div>
        {{- form_widget(form.errorFile, {'attr':{'class': 'form-control'}}) }}
        <div class="input-group-append">
            <button type="button" class="btn btn-default log-preset pull-right"
                    value="{{ '/{{var|home/ubuntu}}/www/{{EDITME}}/shared/var/logs/example.error' }}"
                    data-original-title="{{ 'Symfony log directory' | trans({}, 'BCCCronManagerBundle') }}">
                {{ 'Guide Fill' }}
            </button>
        </div>
    </div>
</div>

<div class="form-group {{ form.comment.vars.errors ? 'error' : ''}}">
    {{ form_errors(form.comment) }}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
               {{ 'Comment/Note' }}
            </span>
        </div>
        {{- form_widget(form.comment, {'attr':{'class': 'form-control'}}) }}
    </div>
</div>

{{ form_rest(form) }}
